
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    <input type="text" name="User" value="@Model.User" class="form-control" placeholder="Enter Username" />
    <br />
    <input type="password" name="Pass" value="@Model.Pass" class="form-control" placeholder="Enter Password" />
    <br />
    <input type="submit" class="btn btn-outline-primary" value="Login" />

</form>
