
@{
    ViewBag.Title = "create";
}

<h2>create</h2>
<form method="post">
    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name" />
    <span class="text-danger">@Html.ValidationMessage("Name")</span> <br />
    <input type="submit" value="Create" class="btn btn-success" />
</form>

